/* DEFINE DEFAULT COLORS & STYLES */
:root {
    --background-color:  rgb(94, 122, 124);
    --font-color: hsl(60, 2%, 77%);
    --header-color: white;
    --button-color: hwb(180 46% 31%); 
    --text-color: white;
}

body {
    color: var(--font-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* BEGIN HEADER STYLES */
.header {
    padding: 10px 0px;
    background-color: var(--background-color);
    background-size: cover;        
}

.header h1 {
    font-family: lucida sans;
    font-size: 45px;
    text-align: center;
    color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:auto;
}

.header a {
    text-decoration: none;
    color: var(--font-color);
    justify-content: center;
}

.header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: auto;
    justify-content: center;
}

.header nav ul {
    color: var(--font-color);
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
}

.header nav ul li {
    padding: 5px 80px;
    text-decoration-color: var(--font-color);
    font-size: 15px;
    text-decoration: underline;
}

.header nav ul li:hover {
    background: var(--button-color);
    color: var(--font-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero {
    background-image: url("../assets/images/Bio_Hero.png");
    background-size: cover;
    padding: 45px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: auto;
}

.hero div h2 {
    font-size: 45px;
    flex-direction: column;
    text-align: center;
    color: var(--text-color);
}

.section-header {
    background-color: var(--background-color);
    border-color: var(--background-color);
    border-bottom: 10px;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: auto;
}

.section-header h2 {
    background-color: var(--background-color);
    border-color: var(--background-color);
    border-bottom: 10px;
    background-size: cover;
    background-attachment: fixed;color: var(--text-color);
    padding: 20px;
    font-size: 45px;
    flex-direction: column;
    text-align: center;
}

.section-text {
    background-color: var(--text-color);
    border-color: var(--background-color);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: auto;
    color: var(--background-color);
    padding: 10px;
    font-size: 45px;
    flex-direction: column;
    text-align: center;
}

.grey-text {
    color: var(--background-color);
    font-size: 25px;
    padding: 20px 10px;
    flex-direction: column;
    text-align: center;
}

.scottimage img {
    display: inline-block;
    width: 50%;    
}

.brands {
    width: 100%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.brand {
    margin: 20px;
    flex: 1;
}

.brand img {
    width: 50%;
}

.brand h3 {
    text-align: center;
    padding:25px;
}

.owned-brand img {
    width: 50%;
    padding: 20px 15px;
}


.portfolio-project {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.learnmore {
    margin: 20px;
    flex: 1;
}

.learnmore img {
    width: 100%;
}

.learnmore {
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    padding: 15px 32px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.learnmore img {
    padding: 15px;
}

.learnmore img:hover {
    transform: scale(1.15);
}



/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (min-width: 435px) {
 
    /* this will be applied on any screen between 435px and 685px */

    .header nav ul {
        flex-direction: column;
        flex: auto;
        justify-content: center;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (min-width: 685px) {
 
    /* this will be applied on any screen between 685px and 812px */
    
    .header h1 {
        font-size: 70px;
        text-align: center;               
    }

    .header nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        flex: auto;
    }

    .header nav ul li {
        padding: 20px;
    }

    .section-header {
        justify-content: left;
        margin: 0px 0px;
    }

    .section-text div p {
        text-align: justify;
        margin: 0px 30px;
    }

    .scottimage img {
        display: inline-block;
        margin: 25px 10px;
        float: left; 
        width: 19%;
        padding-top: 0px;
    }

    .brands {
        flex-direction: column;
    }


}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 812px) {
 
    /* this will be applied on any screen larger than 812px */

    .header h1 {
        font-size: 70px;
        flex-wrap: wrap; 
        padding: 10px, 10px;      
    }

    .header nav ul {
        justify-content: space-around;        
    }

    }

 /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 850px) {
 
    /* this will be applied on any screen larger than 850px */   

    .header h1 {
        font-size: 95px;
    }

    .header nav ul li {
        font-size: 25px;
    }

    .hero div h2 {
        font-size: 75px;
    }

    

    .brand img {
        width: 33%;
    }

    .owned-brand img {
        width: 25%;
    }

}