/* DEFINE DEFAULT COLORS & STYLES */
:root {
    --background-color:  rgb(94, 122, 124);
    --font-color: hsl(60, 2%, 77%);
    --header-color: white;
    --button-color: hwb(180 46% 31%); 
    --text-color: white;
}

body {
    color: var(--font-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* BEGIN HEADER STYLES */
.header {
    padding: 10px 0px;
    background-color: var(--background-color);
    background-size: cover;
    position: -webkit-sticky;
    position:sticky;
    top: 0;
    z-index: 9999;    
}

.header h1 {
    font-family:lucida sans;
    font-size: 45px;
    font-style: italic;
    text-align: center;
    color: var(--header-color);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex:auto;
}

.header a {
    text-decoration: none;
    color: var(--font-color);
    justify-content: center;
}

.header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex: auto;
    justify-content: center;
}

.header nav ul {
    color: var(--font-color);
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex: auto;
    justify-content: center;
}

.header nav ul li {
    padding: 5px 80px;
    text-decoration-color: var(--font-color);
    font-size: 15px;
    text-decoration: underline;
}

.header nav ul li:hover {
    background: var(--button-color);
    color: var(--font-color);
    border-radius: 15px;
    text-shadow: none;
}

.hero {
    background-image: url("../assets/images/Bio_Hero.png");
    background-size: cover;
    padding: 45px;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    flex: auto;
}

.hero div h2 {
    font-size: 45px;
    flex-direction: column;
    text-align: center;
    color: var(--text-color);
}










/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (min-width: 435px) {
 
    /* this will be applied on any screen between 435px and 685px */

    .header nav ul {
        flex-direction: column;
        flex: auto;
        justify-content: center;
    }
}


/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (min-width: 685px) {
 
    /* this will be applied on any screen between 685px and 812px */
    
    .header h1 {
        font-size: 70px;
        text-align: center;               
    }

    .header nav ul {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        flex: auto;
    }

    .header nav ul li {
        padding: 20px;
    }
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 812px) {
 
    /* this will be applied on any screen larger than 812px */

    .header h1 {
        font-size: 70px;
        flex-wrap: wrap; 
        padding: 10px, 10px;      
    }

    .header nav ul {
        justify-content: space-around;        
    }

}

 /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (min-width: 850px) {
 
    /* this will be applied on any screen larger than 850px */   

    .header h1 {
        font-size: 95px;
    }

    .header nav ul li {
        font-size: 25px;
    }
}